@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom {
  background: url("https://res.cloudinary.com/drtzfu730/image/upload/v1725700891/bk_g_1_crdayp.jpg");
  width: 100%;
  background-size: cover;
  padding: 6rem 0 0 0;
  background-repeat: no-repeat;
}

.yellow {
  background: url("https://res.cloudinary.com/drtzfu730/image/upload/v1726905037/Artboard_1_4x_kpa2lj.png");
  width: 100%;
  background-size: cover;
  padding: 1.813rem 0 0 1.6rem;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  background-color: #0f1235;
  color: #0f1235;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.Background-pink {
  background: #ffe2e5;
  /* height: 100vh; */
  width: 100%;
  /* object-fit: contain; */
}

.Background-green {
  background: #dcfce7;
  width: 100%;
}
.Background-grey {
  background: #d6eaf2;
  width: 100%;
}
.Background-blue {
  background: #0f1235;
  width: 100%;
}

.Background-purple {
  background-color: #f3e8ff;
  width: 100%;
}

.ExportButton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #0f3659;
  cursor: pointer;
  border: 1px solid #c3d3e2;
  svg {
    width: 16px;
    height: 16px;
  }
}

.Button {
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  &:disabled {
    opacity: 0.5;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.loader {
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
