.DeleteModal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16161650;
  .content {
    position: relative;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    border-radius: 12px;
    background: #fff;
    border: 0.5px solid #e0e2e7;
    box-shadow: 0px 0px 2px 0px #16161650;

    .Icon {
      cursor: pointer;
      position: absolute;
      right: 30px;
    }
    .textContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      color: #161616;
    }
    .subTitle {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #333843;
      span {
        font-weight: 600;
      }
    }
    .buttonFlex {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .closeButton {
        width: 100%;
        text-align: center;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #4256a6;
        background: #0591ff1a;
      }
      .button {
        width: 100%;
        text-align: center;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        background: #4256a6;

        .Span {
          @-moz-keyframes spin {
            100% {
              -moz-transform: rotate(360deg);
            }
          }
          @-webkit-keyframes spin {
            100% {
              -webkit-transform: rotate(360deg);
            }
          }
          @keyframes spin {
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
          margin: auto;
          -webkit-animation: spin 1s linear infinite;
          -moz-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .DeleteModal {
    .content {
      max-width: 300px;
    }
  }
}
